<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETCore,Version=v3.1" />
	</startup>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Server=tcp:80.94.168.145,1433, Database=КУРСОВОЙ; Initial Catalog=КУРСОВОЙ; User Id = student; Password = Pa$$w0rd"
			providerName="System.Data.SqlClient"/>
		<add name="LocalConnection" connectionString="Data Source=GUSTIKMANGUSTIK;Initial Catalog=КУРСОВОЙ;Integrated Security=True"
				providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>